* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* text font & color scheme */
a:link {
  text-decoration: none;
}

/* page container */
#page_container {
  /* choose background color of whole page. */
  background-color: rgb(95, 94, 94);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav bar */
nav {
  background-color: rgb(31, 30, 30);
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
}

#logo {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  flex: 1 1 80%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

#links {
  font-size: 15px;
  color: white;
  font-size: 18px;
}

/* landing container */
#landing_container {
  height: 110vh;
  width: 80vw;
  padding: 40px;
  background-color: rgb(100, 97, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about_hello {
  font-size: 20px;
}

#about_name {
  font-size: 80px;
}

#about_dev {
  font-size: 80px;
}

#about_text {
  font-size: 20px;
}

/* other container*/
#other_container {
  width: 60vw;
  /* background-color: rgb(122, 118, 118); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* skills section */
#skill_container {
  margin: 10px;
  /* padding: 10px; */
  background-color: rgb(150, 143, 143);
  height: 90vh;
}

/* projects section */
#projects_container {
  margin: 10px;
  background-color: rgb(148, 140, 140);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#row_of_cards {
  height: 40vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* justify-content: space-between; */
}

.card {
  background-color: rgb(114, 56, 15);
  height: 100%;
  width: 33.33%;
  border-radius: 15px;
}

.first,
.fourth {
  margin-right: 10px;
}
.sixth,
.third {
  margin-left: 10px;
}

.card-image {
  /* background-color: rgb(58, 88, 223); */
  height: 45%;
  /* margin-bottom: 10px; */
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-1 {
  background-image: url("images/test.PNG");
}

.card-2 {
  background-image: url("images/test.PNG");
}
.card-3 {
  background-image: url("images/test.PNG");
}
.card-4 {
  background-image: url("images/test.PNG");
}
.card-5 {
  background-image: url("images/test.PNG");
}
.card-6 {
  background-image: url("images/test.PNG");
}

.card a {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 30px;
  display: block;
  margin: 0px 15px;
}

#languages {
  display: flex;
  justify-content: center;
}

#bottom_section_of_card {
  height: 55%;
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* contact section */
#contact_container {
  margin: 10px;
  /* background-color: rgb(163, 154, 154); */
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#info_container {
  height: 80%;
  width: 30%;
  /* background-color: rgb(140, 154, 154); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

#info {
  display: flex;
}

#info i,
p {
  padding: 5px;
}

#form_container {
  height: 80%;
  width: 65%;
  /* border: 2px solid black;
  border-radius: 10px; */
  /* background-color: rgb(140, 154, 154); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#form_container textarea {
  width: 100%;
  resize: none;
}

#form_container form {
  height: 80%;
  width: 100%;
  /* border: 2px solid black;
  border-radius: 10px; */
  /* background-color: rgb(100, 154, 154); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#form_container div,
#form_container input {
  width: 100%;
}

form div {
  padding: 15px;
}

form label,
#info,
#form_container h2 {
  font-size: 20px;
  font-weight: normal;
}

#form_container h1 {
  font-size: 40px;
  font-weight: normal;
}

form br {
  margin: 10px;
}

#form_name,
#form_email,
#form_message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#form_container input,
textarea {
  border: none;
}

#fullname,
#email {
  padding: 15px;
}

#message {
  padding: 15px;
  height: 150px;
}

#submit {
  padding: 20px;
}

/* footer */
footer {
  width: 100%;
  background-color: rgb(31, 30, 30);
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#copyright_text {
  text-align: center;
}

#footer_icons i {
  padding: 5px;
}

#footer_icons a:visited {
  color: black;
}
#footer_icons a:hover {
  color: white;
}
